<a class="banner" href="{{ this.path.href }}" title="{{ this.description }}">

  <div class="banner-image">
    {{#if this.image}}
      <img src="{{ this.path.href }}{{ this.image }}" 
            width="200" alt=""
            {{#if this.bannerStyle}} style="{{ this.bannerStyle  }}" {{/if}}
            >
    {{/if}}
  </div>
    
  <time datetime="{{ iso8601 published }}">
    {{ moment published 'D. M. YYYY' }}
  </time>
  
  <h2>{{ or this.bannerTitle (or this.title this.path.href) }}</h2>
  
  <p>{{ this.description }}</p>
</a>