<a class="banner" href="{{ this.path.href }}" title="{{ trim this.description }}">

  <div class="banner__image">
    {{#if this.image}}
      <img src="{{ resolveUrl this.path.href this.image }}" 
            width="200" alt=""
            {{#if this.bannerStyle}} style="{{ this.bannerStyle  }}" {{/if}}
            >
    {{/if}}
  </div>
  
  {{#if this.isPrevBanner}}
    <div class="banner__time">následující</div>
  {{else}}
    {{#if this.isNextBanner}}
      <div class="banner__time">předchozí</div>
    {{else}}
      <time class="banner__time" datetime="{{ iso8601 published }}">
        {{ moment published 'D. M. YYYY' }}
      </time>
    {{/if}}
  {{/if}}
    
  <h2>{{ or this.bannerTitle (or this.title this.path.href) }}</h2>
  
  <p>{{ this.description }}</p>
</a>