<ul class="contacts {{ cssClass }}">
  
  {{#if homepage}}
  <li class="contacts__homepage">
    <a href="{{ baseUrl }}">
      {{> svg/home.svg }}
    </a>
  </li>
  {{/if}}
  
  {{#if facebook}}
  <li class="contacts__facebook">
    <a title="Facebook" href="https://facebook.com/julie.e.harshaw">
      {{> svg/facebook.svg }}
    </a>
  </li>
  {{/if}}
  
  {{#if twitter}}
  <li class="contacts__twitter">
    <a title="Twitter" href="https://twitter.com/julieeharshaw">
      {{> svg/twitter.svg }}
    </a>
  </li>
  {{/if}}
  
  {{#if github}}  
  <li class="contacts__github">
    <a title="GitHub" href="https://github.com/juliekoubova">
      {{> svg/github.svg }}
    </a>
  </li>
  {{/if}}

  {{#if email}}
  <li class="contacts__email">
    <a title="Email" href="mailto:julie@juliekoubova.net">
      {{> svg/email.svg }}
    </a>
  </li>
  {{/if}}

</ul>