<header>
  <div class="header-wrapper">
    <a class="dont-print-url" href="/">
      {{> portrait.html src=portrait.default size=32 }}
    </a>
    
    <h1>
      <a class="dont-print-url" href="/">
        {{ siteTitle }}
        <span class="print-only">
          {{ siteTitlePrintSuffix }}
        </span>
      </a>
    </h1>
    
    {{> contacts.html 
          cssClass="contacts--colorful contacts--small contacts--animated"
          facebook=true
          twitter=true
          email=true
    }}
  </div>
</header>