<label id="toggle-vertical-rhythm">
  <input type="checkbox"> Vertical Rhythm
</label>
<script>
  (function (doc, key) {
    !this._phantom && 
    doc.addEventListener && 
    doc.addEventListener('DOMContentLoaded', function () {
      
      function pixelImageLine(baseline) {
        var canvas = document.createElement('canvas');
        canvas.height = baseline;
        canvas.width = 2;

        var ctx = canvas.getContext('2d');
        ctx.fillStyle = '#777';
        ctx.fillRect(0, baseline - 1, 1, 1);

        return 'url(' + canvas.toDataURL() + ')';
      }
      
      var checkbox = doc.querySelector('#toggle-vertical-rhythm input');
      
      function updateVerticalRhythm() {

        var root = doc.documentElement;
        var style = window.getComputedStyle(root);
        
        var baseline = parseInt(style.lineHeight.replace(/px$/, ''), 10);

        sessionStorage.setItem(key, checkbox.checked)
        root.style.backgroundImage = (checkbox.checked)
          ? pixelImageLine(baseline)
          : '';
      }
      
      
      window.onresize = updateVerticalRhythm;
      checkbox.onchange = updateVerticalRhythm;
      checkbox.checked = sessionStorage.getItem(key) === "true";
      
      updateVerticalRhythm();
    });
  })(document, 'verticalRhythmDebug');
</script>
<style>
#toggle-vertical-rhythm {
  font-family: sans-serif;
  opacity: 0.5;
  position: fixed;
  top: 4px;
  left: 4px;
  z-index: 9999;
}

#toggle-vertical-rhythm:hover, #toggle-vertical-rhythm:focus {
  opacity: 1;
}

@media print {
  #toggle-vertical-rhythm { display: none; }
}
</style>