<label id="toggle-vertical-rhythm">
  <input type="checkbox"> Vertical Rhythm
</label>
<script>
  (function (doc, key) {
    !this._phantom && doc.addEventListener('DOMContentLoaded', function () {
      
      var checkbox = doc.querySelector('#toggle-vertical-rhythm input');
      
      function toggleVerticalRhythm() {
        sessionStorage.setItem(key, checkbox.checked)
        doc.documentElement.classList[checkbox.checked ? 'add' : 'remove'](
          'vertical-rhythm'
        );
      }
      
      checkbox.onchange = toggleVerticalRhythm;
      checkbox.checked = sessionStorage.getItem(key) === "true";
      toggleVerticalRhythm();
    });
  })(document, 'verticalRhythmDebug');
</script>
<style>
.vertical-rhythm {
  background: #fff url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAIAAAAcCAYAAABLam7PAAAAF0lEQVQIW2NkgALGkcMoLy//39nZyQgAItIEHTMomsIAAAAASUVORK5CYII=);
}

#toggle-vertical-rhythm {
  font-family: sans-serif;
  opacity: 0.5;
  position: fixed;
  top: 4px;
  left: 4px;
}

#toggle-vertical-rhythm:hover, #toggle-vertical-rhythm:focus {
  opacity: 1;
}

@media print {
  #toggle-vertical-rhythm { display: none; }
}
</style>