<!DOCTYPE html>
<html class="no-js no-typekit {{#if live}}vertical-rhythm{{/if}}" lang="{{ lang }}">

<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
  <title>{{ title }}</title>
  <meta name="description" content="{{ description }}">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <meta property="og:description" content="{{ description }}">
  <meta property="og:image" content="{{ baseUrl }}{{ image }}">
  <meta property="og:updated_time" content="{{ unixtime_sec date }}">
  <meta property="og:title" content="{{ title }}">
  <meta property="og:type" content="website">
  <meta property="og:url" content="{{ canonical_url path.href }}">
  <link rel="stylesheet" href="{{ css }}">
  <script>{{> inline.min.js }}</script>
</head>

<body class="{{body}}">
  {{#if live}}
    {{> vertical-rhythm.html }}
  {{/if}}
  
  {{{ contents }}}  
</body>
</html>