{{#if image}}
<div class="hero">
  <img src="{{ image }}" alt="{{ imageAlt }}" width="660">
  {{#if imageAlt}}
  <figcaption>{{ imageAlt }}</figcaption>
  {{/if}}
</div>
{{/if}}

{{> header.html }}

<article>
  
  {{#if published}}
  <time datetime="{{ iso8601 published }}">
    {{ moment published 'D MMMM YYYY' }}
  </time>
  {{/if}}

  <h2>
    <a href=".">{{ title }}</a>
  </h2>

  {{{ contents }}}
  
</article>

<div class="fb-like" 
		data-href="{{ baseUrl }}{{ path.href }}" 
		data-layout="standard" 
		data-action="like" 
		data-show-faces="false">
</div>

{{> banner-container.html }}

{{> footer.html }}

<div class="fb-comments" 
     data-href="{{ baseUrl }}{{ path.href }}"
     data-numposts="5">
</div>

<script>
{{> hero.min.js }}
</script>
