<article>
  {{#if image}}
  <div class="hero">
    <img src="{{ image }}" alt="{{ imageAlt }}" width="660">
    {{#if imageAlt}}
    <figcaption>{{ imageAlt }}</figcaption>
    {{/if}}
  </div>
  {{/if}}

  {{> header.html }}
  
  {{#if published}}
  <time datetime="{{ iso8601 published }}">
    <span class="d">{{ moment published 'D ' }}</span>
    <span class="m">{{ moment published 'MMMM ' }}</span>
    <span class="y">{{ moment published 'YYYY' }}</span>
  </time>
  {{/if}}

  <h2>
    <a href=".">{{ title }}</a>
  </h2>

  {{{ contents }}}
  
  {{#notEqual publish 'unlisted'}}
  <div class="fb-like" 
      data-href="{{ baseUrl }}{{ path.href }}" 
      data-layout="standard" 
      data-action="like" 
      data-share="true"
      data-show-faces="false">
  </div>
  {{/notEqual}}
  
</article>
  
{{> banner-container.html className='banner-container-post' }}

{{> footer.html }}

{{#notEqual publish 'unlisted'}}
<div class="fb-comments" 
     data-href="{{ baseUrl }}{{ path.href }}"
     data-numposts="5"
     data-width="100%">
</div>

<div id="fb-root"></div>
<script async 
  id="facebook-jssdk"
  src="//connect.facebook.net/en_US/sdk.js#xfbml=1&version=v2.5&appId={{fbAppId}}">
</script>
{{/notEqual}}

<script async src="/js/post-combined.min.js"></script>