
.banner-container {
  text-align: left;
  margin-left: auto;
  margin-right: auto;
}

.banner:link, .banner:visited {
  text-decoration: none;
  color: var(--gray);
}

.banner__image {
  position: relative;
  overflow: hidden;
  background: var(--light-red);
}

.banner__image img {
  width: 100%;
  height: auto;
  position: absolute;  
}

.banner h2 {
  font-weight: 400;
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
}

.banner p {
  text-align: left;
  text-overflow: ellipsis;
  overflow: hidden;
}

.banner__time {
  display: block;
  font-weight: 400;
  margin-left: 0.1em;  
  text-transform: uppercase;
  color: var(--light-red);
}

@media screen and (min-width: 329px) {
  .banner { 
    width: 148px;
    height: 196px;
    float: left;
    margin: 0 6px 28px 6px;
  }

  .banner-container--post .banner {
    margin-left: 9px;
    margin-right: 9px;
  }
  
  .banner-container--post .banner:first-child {
    margin-left: 0;
  }
  
  .banner-container--post .banner:last-child {
    margin-right: 0;
  }
  
  .banner p { max-height: 84px; }
  
  .banner__image {
    height: 56px;
  }
}

@media (--large-screen) {
  .banner { 
    width: 180px; 
  }
  .banner-container--post .banner {
    margin-left: 10px;
    margin-right: 10px;
  }
}
