@custom-media --landscape screen     and (min-width: 520px) and (max-height: 440px);
@custom-media --medium-screen screen and (min-width: 480px);
@custom-media --large-screen screen  and (min-width: 660px);

:root {
  --gray: #555;
  --light-red: #FF7AA6;
  --dark-red: #D10045;
  
  --z-background: -1000;
  --z-below-text: -100;
  --z-headroom:    1000;
}
