.index {
  text-align: center;
  font-size:   1em;     /* 16px */
  line-height: 1.75;    /* 28px */
  padding-top: 1.75em;  /* 28px */
}

.index .portrait-wrapper {
  float: none;
  margin-right: 0;
  line-height: 0;
}

.index .portrait {
  width: 168px;
  height: 168px;
  margin: 0; /*168 (%28px)*/
}

.index h1 {  
  font-size:   2.25em; /* 36px */
  line-height: 1.5556em; /* 56px */
  margin-top:  0.7778em; /* 28px */
  margin-bottom: 0;
  font-weight: 300;
  letter-spacing: 1px;
}

.index .typekit-animation {
  /*delay to interfer less with the fadeInDown animation*/
  transition-delay: 400ms;
}

.contacts--index {
  margin: 10px 0; /*64 + 2*10 = 84 (%28px)*/  
}

.contacts--index li {
  margin: 0 0.2em;
}

.tags {
  list-style: none;
  padding: 0;
  font-weight: 300;
  line-height: 1.75em; /* 28px */
  margin: 1.75em 0 0 0;
}

.tags li {
  display: inline-block;
  margin: 0 0.4em;
}

.tags li::before {
  content: "#";
}

.banner-container--index {
  margin-top: 4em; /* 56px */
  font-size: .875em; /* 14px */ 
}

.banner-container--index .banner {
  display: block;
  height: 16em;
  margin-bottom: 2em;
}

.banner-container--index .banner h2 {
  font-size:   1.18em;  /* 16.52px */
  line-height: 1.695;   /* 28px */
  height:      1.695em; /* 28px */
  margin:      0;
}

.banner-container--index .banner p {
  font-size:  .8475em; /* 11.865px */
  line-height: 2.37;   /* 28px */
  min-height: 28px;
  max-height: 56px;
  margin: 0;
}

.banner-container--index .banner__image {
  height: 8em;
}

.banner-container--index .banner__time {
  font-size:   0.7143em; /*10px*/
  margin-top:  1em;      /*10px*/
  line-height: 1.8;      /*18px*/
}

.index footer, .cookie-law {
  font-weight: 300;
  font-size: .75em; /* 12px */
  line-height: 2.334;
  margin-top:  2.334em; /* 28px */
}

.cookie-law span, .cookie-law s {
  display: inline-block;
}

.cookie-law s {
  animation-delay: 5s;
  animation-duration: 3s;
  transition: width 400ms ease-in;
  transform-origin: bottom left;
  z-index: var(--z-below-text);
}

@keyframes falling-eurocrat {
  0% {
    animation-timing-function: ease-in-out;
  }

  20%, 60% {
    transform: rotate3d(0, 0, 1, 80deg);
    animation-timing-function: ease-in-out;
  }

  40%, 80% {
    transform: rotate3d(0, 0, 1, 60deg);
    animation-timing-function: ease-in-out;
    opacity: 1;
  }

  to {
    transform: translate3d(0, 700px, 0);
    opacity: 0;
  }
}

.falling-eurocrat {
  animation-name: falling-eurocrat;
  transform-origin: center left;
}

@media (--medium-screen) {
  .contacts--index li { 
    margin: 0 0.6em; 
  }
}

@media screen and (min-height: 560px) {
  .contacts--index { 
    margin-top: 2.375em;
  }
  .index .portrait {
    margin: 2px 0; /*192 + 2*2 = 196 (%28px)*/
    width: 192px;
    height: 192px;
  }
}

@media screen and (min-height: 670px) {  
  .index { 
    padding-top: 3.5em; /* 56px */ 
  }
  .index .tags {
    margin-top: 1.75em; /* 28px */ 
  }
}

@media (--landscape) {
  .index header { overflow: auto; }
  .contacts--index { margin: 0; }
  .index .portrait { 
    float: left;
  }
  .tags {
    clear: both;
  }
}

@media (--large-screen) {    
  .cookie-law { 
    font-size: .875em;  /* 14px */
    line-height: 2;
    margin-top:  2em;   /* 28px */
    margin-left: -2em; 
    margin-right: -2em; 
  }
  
  .cookie-law > div {
    display: inline;
  }
}

@media print {
  .index .portrait { display: none;}
  .index {
    text-align: left;
  }
  .index p {
    font-size: 16pt;
  }
  .index h1 {
    line-height: 1;
    font-size: 24pt;
  }
  .tags { display: none; }
}