
iframe {
  display: block;
  margin: 0;
}

.social {
  white-space: nowrap;
}

.social, .fb-comments {
  overflow-x: hidden;
}

.fb-like, .twitter-share-button {
  display: inline-block;
  vertical-align: bottom;
}