
iframe {
  display: block;
  margin: 0;
}

.social {
  line-height: 1.75em;
  margin-bottom: 1.75em;
}

.social, .fb-comments {
  overflow-x: hidden;
}

.fb-like, .twitter-share-button {
  display: inline-block;
  vertical-align: bottom;
}