html {
  font-family: proxima-nova, sans-serif;
  color: var(--gray);  
  background: #fff;
  
  /* makes the switch to non-GPU text rendering when transitions
     and animations finish less harsh in Safari */
  -webkit-font-smoothing: subpixel-antialiased;
}

body, .headroom header {
  min-width: 314px;
  max-width: 480px;
  margin: 0 auto;
  padding: 0 3px;
}

h1 {
  font-family: proxima-nova-soft, sans-serif;
  font-weight: 300;
  text-transform: uppercase;
}

h1 a, h1 a:visited, h1 a:hover, h1 a:active, h1:focus {
  color: var(--gray);
  text-decoration: none;
}

aside {
  color: var(--light-red);
}

article time, footer {
  font-weight: 300;
}

footer {
  clear: both;
  text-align: center;
}

h2 {
  font-weight: 300;
}

h2 a {
  text-decoration: none;
}

h2 a:link,
h2 a:active,
h2 a:focus,
h2 a:hover,
h2 a:visited  {
  color: var(--gray);
}

h3 {
  font-weight: 400;
}

a:visited {
  color: var(--light-red);
}

a:link, a:active, a:hover, a:focus {
  color: var(--dark-red);
}

abbr[title], span[title] {
  border-bottom: 1px dotted;
  cursor: help;
}

figure img {
  max-width: 100%;
  display: block;
}

figcaption {
  margin: 0;
  text-align: right;
  color: var(--light-red);
}

.pull-right figcaption, .pull-left figcaption {
  text-align: left;
}

blockquote {
  margin: 0;
  padding-left: 1.5em;
  font-style: italic;
  border-left: 3px solid var(--light-red);
}

blockquote cite {
  display: block;
  text-align: right;
  font-style: normal;
}

blockquote cite:before {
  content: "\2014 ";
}

.footnotes-sep {
  border: none;
  color: var(--gray);
  background: var(--gray);
  height: 1px;
  margin: 0 auto 27px 0;
  max-width: 15em;
}

.footnotes ol, .footnotes li {
  padding-left: 0;
  margin: 0;
}

.article__time {
  display: block;
  font-weight: 400;
  margin-left: 0.1em;  
  text-transform: uppercase;
  color: var(--light-red);
}

time .d, time .m {
  font-weight: 600;
}

.typekit-animation,
aside,
p, 
h1, 
h2,
h3,
h4,
h5,
h6, 
time,
footer,
figcaption,
blockquote {
  transition: opacity 800ms ease-out;
  opacity: 1;
}

/* uncss:ignore */
.js.no-typekit .typekit-animation,
.js.no-typekit aside, 
.js.no-typekit p, 
.js.no-typekit h1,
.js.no-typekit h2,
.js.no-typekit h3,
.js.no-typekit h4,
.js.no-typekit h5,
.js.no-typekit h6,
.js.no-typekit time,
.js.no-typekit footer,
.js.no-typekit figcaption,
.js.no-typekit blockquote {
  opacity: 0;
  will-change: opacity;
}

.print-only { display: none; }

::selection {
  background: var(--dark-red);
  color: #fff;
}

@media (--landscape) {
  body, .headroom header {
    max-width: 520px; 
  }
}

@media (--medium-screen) {
  p {
    text-align: justify;
  }
    
  p[data-pullquote]:before {
    content: attr(data-pullquote);
    display: block;
    color: var(--light-red);
    text-align: left;
    letter-spacing: -0.2px;
    word-spacing: -2%;
  }
  
  p[data-pullquote].pullquote-right:before, .pull-right { 
    float: right;
    margin-left: 1em; 
    max-width: 40%;
  }
  
  p[data-pullquote].pullquote-left:before, .pull-left { 
    float: left;
    margin-right: 1em; 
    max-width: 40%;
  }
}

@media (--large-screen) {
  body, .headroom header { 
    max-width: 580px;
  }
  figure { 
    margin-left: -40px;
    margin-right: -40px;
  }
  p[data-pullquote].pullquote-right:before, .pull-right {
    margin-right: -40px; 
    margin-bottom: 0;
  }
  p[data-pullquote].pullquote-left:before, .pull-left {
    margin-left: -40px; 
    margin-bottom: 0;
  }
}

.portrait-wrapper {
  float: left;
  margin-right: 0.5em;  
}

.portrait {
  border-radius: 50%;
  position: relative;
  overflow: hidden;
  display: inline-block;
}

.portrait img {
  margin: 0 auto;
  width: 100%;
  height: 100%;
}

.copy a {
  text-decoration: none;
}