body {
  font-size:   87.5%; /* 14px */
  line-height:  2;    /* 28px */
}

h1 {
  font-size:     2.18em;   /* 30px */
  line-height:   1.8349;   /* 56px */
  margin-top:    1.8349em; /* 56px */
  margin-bottom: 0.9174em; /* 28px */
}

h2 {
  font-size:     1.64em;   /* 22.96px */
  line-height:   1.22;     /* 28px */
  margin-bottom: 1.22em;   /* 28px */
  margin-top:    0;
}

h3 {
  font-size:     1.45em;  /* 20.3px */
  line-height:   1.38;   /* 28px */
  margin-top:    2.76em; /* 56px */
  margin-bottom: 1.38em; /* 28px */
}

aside p, article time, figcaption, footer {
  font-size:      .8474em; /* 11.86px */
  line-height:   2.3609em; /* 28px */
  margin-bottom: 2.3609em; /* 28px */
}

article time {
  margin-top:    2.3609em; /* 28px */
  margin-bottom: 0;
}

footer {
  margin-top:    2.3609em; /* 28px */
  margin-bottom: 4.7218em;
}

p, figure {
  margin: 0 0 2em 0; /* 28px */
}

.portrait {
  margin: 12px 0; /*32+2*12=56 (%28px) */
  width: 32px;
  height: 32px;
}

.social {
  margin-bottom: 2em;
}

.banner-container--post {
  margin-top: 2em;
}

.banner-container--post .banner {
  display: block;
  height: 16em;
  margin-bottom: 2em;
}

.banner-container--post .banner h2 {
  font-size:   1.18em;  /* 16.52px */
  line-height: 1.695;   /* 28px */
  height:      1.695em; /* 28px */
  margin:      0;
}

.banner-container--post .banner p {
  font-size:  .8475em; /* 11.865px */
  line-height: 2.37;   /* 28px */
  min-height: 28px;
  max-height: 56px;
  margin: 0;
}

.banner-container--post .banner__image {
  height: 8em;
}

.banner-container--post .banner__time {
  font-size:   0.7143em; /*10px*/
  margin-top:  1em;      /*10px*/
  line-height: 1.8;      /*18px*/
}

@media (--medium-screen) {
  p[data-pullquote]:before {
    font-size:   1.45em;  /*20.3px*/
    line-height: 1.725em; /*35px (4:5 %28)*/
    position: relative;
    top: -0.21em;
  }
}

@media (--large-screen) {
  body {
    font-size: 100%;    /* 16px */
    line-height: 1.875; /* 30px */
  }
  
  h1 {
    line-height:   1.73;   /* 60px */
    margin-top:    1.73em; /* 60px */
    margin-bottom:  .87em; /* 30px */
  }
  
  p, figure {
    margin-bottom: 1.875em; /* 30px */
  }
  
  aside p, article time, figcaption {
    margin-bottom: 2.215em; /* 30px */
    line-height:   2.215;   /* 30px */
  }
  
  article time {
    margin-top:    2.215em; /* 30px */
    margin-bottom: 0;
  }

  footer {
    margin-top:    2.215em; /* 30px */
    margin-bottom: 4.426em;
  }

  h2 {
    line-height:   1.144;   /* 30px */
    margin-bottom: 1.144em; /* 30px */
    margin-top:    0;
  }
  
  h3 {
    line-height:   1.294;   /* 30px */
    margin-top:    2.586em; /* 60px */
    margin-bottom: 1.294em; /* 30px */
  }
  
  p[data-pullquote]:before {
    font-size:   1.45em;  /*23.2px*/
    line-height: 1.616em; /*37.5px (4:5 %30)*/
    position: relative;
    top: -.16em;
  }
  
  .social {
    margin-bottom: 1.875em; /* 30px */
  }

  .banner-container--post {
    margin-top: 1.875em;   /* 30px */
  }
  
  .banner-container--post .banner__time {
    font-size:  .625em; /*10px*/
    margin-top:  1em;   /*10px*/
    line-height: 2;     /*20px*/
  }

  .banner-container--post .banner {
    height: 15em;
  }
  
  .banner-container--post .banner h2 {
    font-size:   1em;     /* 16px */
    line-height: 1.875;   /* 30px */
    height:      1.875em; /* 30px */
    margin:      0;
  }

  .banner-container--post .banner p {
    font-size:  .75em;   /* 12px */
    line-height: 2.5;    /* 30px */
    min-height: 30px;
    max-height: 90px;
    margin: 0;
  }

  .banner-container--post .banner__image {
    height: 3.75em; /* 60px */
  }
  
}