Options -Indexes

ExpiresActive  On
ExpiresDefault "access plus 2 hours"
Header append Cache-Control "must-revalidate"

<FilesMatch "\.(css|gif|ico|png|jpe?g|js)$">
  ExpiresDefault "access plus 1 month"
</FilesMatch>

RewriteEngine on

# Redirect www to non-www
RewriteCond %{HTTP_HOST} ^www\.(.*)$ [NC]
RewriteRule ^ https://%1/%{REQUEST_URI} [R=301,L]

# Direct request of .gz files => 404
RewriteCond %{THE_REQUEST} \.(css|html|js|xml)\.gz
RewriteRule \.(css|html|js|xml)\.gz$ - [R=404,L]

# Strip index.html from urls
RewriteRule ^index\.html$ / [R=301,L]
RewriteRule ^(.*)/index\.html$ /$1/ [R=301,L]

<IfModule mod_headers.c>
    RewriteCond "%{HTTP:Accept-encoding}" "gzip"
    RewriteCond "%{REQUEST_FILENAME}\.gz" -s
    RewriteRule "^(.*)\.css" "$1\.css\.gz" [QSA]

    RewriteCond "%{HTTP:Accept-encoding}" "gzip"
    RewriteCond "%{REQUEST_FILENAME}\.gz" -s
    RewriteRule "^(.*)\.html" "$1\.html\.gz" [QSA]

    RewriteCond "%{HTTP:Accept-encoding}" "gzip"
    RewriteCond "%{REQUEST_FILENAME}\.gz" -s
    RewriteRule "^(.*)\.js" "$1\.js\.gz" [QSA]

    RewriteCond "%{HTTP:Accept-encoding}" "gzip"
    RewriteCond "%{REQUEST_FILENAME}\.gz" -s
    RewriteRule "^(.*)\.xml" "$1\.xml\.gz" [QSA]

    # Serve correct content types, and prevent mod_deflate double gzip.
    RewriteRule "\.css\.gz$" "-" [T=text/css,E=no-gzip:1,L]
    RewriteRule "\.html\.gz$" "-" [T=text/html,E=no-gzip:1,L]
    RewriteRule "\.js\.gz$" "-" [T=text/javascript,E=no-gzip:1,L]
    RewriteRule "\.xml\.gz$" "-" [T=application/xml,E=no-gzip:1,L]

    <FilesMatch "\.(css|html|js|xml)\.gz$">
      # Serve correct encoding type.
      Header append Content-Encoding gzip

      # Force proxies to cache gzipped & 
      # non-gzipped css/js files separately.
      Header append Vary Accept-Encoding
    </FilesMatch>
</IfModule>