--- 
css: index.css 
body: index
isHome: true
---
<header>

  {{> portrait.html src=portrait.index size=168 }}

  <h1>{{ siteTitle }}</h1>

  <p lang="en-us" class="print-only">{{ description }}</p>
  
  {{> contacts.html cssClass="contacts--index animated fadeInDown" 
                    homepage=true
                    facebook=true
                    twitter=true
                    github=true
                    email=true
  }}
</header>

<ul lang="en-us" class="tags typekit-animation">
  <li>market&nbsp;anarchism</li>
  <li>sex&#8209;positive&nbsp;feminism</li>
  <li>software&nbsp;gardening</li>
  <li>photography</li>
  <li>singing</li>
  <li>theatre</li>
  <li>firearms</li>
</ul>

{{> cookie-law.html }}

{{> banner-container.html
    banners=collections.posts
    className='banner-container--index'
}}

{{> footer.html }}