--- 
css: index.css 
body: index 
---
<header>

  {{> portrait.html src=portrait.index size=168 }}

  <h1>{{ siteTitle }}</h1>

  <p lang="en-us" class="print-only">{{ description }}</p>
  
  <ul class="contacts animated fadeInDown">
    <li class="homepage-link">
      <a href="{{ baseUrl }}">
        {{> home.svg }}
      </a>
    </li>
    <li class="facebook-link">
      <a title="Facebook" href="https://facebook.com/julie.e.harshaw">
        {{> facebook.svg }}
      </a>
    </li>
    <li class="twitter-link">
      <a title="Twitter" href="https://twitter.com/julieeharshaw">
        {{> twitter.svg }}
      </a>
    </li>
    <li class="github-link">
      <a title="GitHub" href="https://github.com/juliekoubova">
        {{> github.svg }}
      </a>
    </li>
    <li class="email-link">
      <a title="Email" href="mailto:juliekoubova@icloud.com">
        {{> email.svg }}
      </a>
    </li>
  </ul>
</header>

<ul lang="en-us" class="tags typekit-animation">
  <li>market&nbsp;anarchism</li>
  <li>sex&#8209;positive&nbsp;feminism</li>
  <li>software&nbsp;gardening</li>
  <li>photography</li>
  <li>singing</li>
  <li>theatre</li>
  <li>firearms</li>
</ul>

{{> cookie-law.html }}

{{> banner-container.html banners=collections.posts }}

{{> footer.html }}