
@import '../node_modules/normalize.css/normalize.css';

@keyframes fade-in {
  0% { opacity: 0; }
  100% { opacity: 1; }
}

@keyframes zoom-out {
  0% { transform: scale(0.95);}
  100% { transform: scale(1);}
}

@keyframes bounce {
  0% {
    transform: translateY(-200%);
    opacity: 0.2;
  }
  5% {
    transform: translateY(-100%);
    opacity: 0.2;
  }
  15% {
    transform: translateY(0);
  }
  30% {
    transform: translateY(-50%);
  }
  40% {
    transform: translateY(0%);
  }
  50% {
    transform: translateY(-30%);
  }
  70% {
    transform: translateY(0%);
  }
  80% {
    transform: translateY(-15%);
  }
  90% {
    transform: translateY(0%);
  }
  95% {
    transform: translateY(-7%);
  }
  97% {
    transform: translateY(0%);
  }
  99% {
    transform: translateY(-3%);
  }
  100% {
    transform: translateY(0);
    opacity: 1;
  }
}

body {
  font-family: proxima-nova, sans-serif;
  transform-style: preserve-3d;
  background: #fff;
  max-width: 30em;
  margin: 1em auto;
}

.index {
  text-align: center;  
}

.index h1 {
  font-family: proxima-nova-soft, sans-serif;
  font-size: 3em;
  font-weight: 400;
  color: #555;
  animation: fade-in 800ms ease-out;
}

.index ul {
  list-style: none;
  padding: 0;
}

.contacts {
  animation: bounce 1200ms ease-out;
}

.contacts li {
  display: inline-block;
  margin: 0 0.2em;
}

.contacts path {
  fill: white;
}

.contacts circle {
  fill: #FF7AA6;
}

.contacts a:focus {
  outline: none;
}

.contacts a:hover svg,
.contacts a:focus svg  {
  transform: scale(1.05);
  transition: transform 200ms;
}

.contacts a:hover circle,
.contacts a:focus circle {
  fill: #D10045;
}

.contacts a:hover path,
.contacts a:focus path {
  fill: white;
}

.tags {
  margin-top: 2em;
  font-weight: 100;
  line-height: 1.5;
  animation: fade-in 800ms ease-out;
}

.tags li {
  display: inline-block;
  margin-right: 0.5em;
}

.tags li::before {
  content: "#";
}

.portrait {
  width: 128px;
  height: 128px;
  position: relative;
  overflow: hidden;
  border-radius: 50%;
  display: inline-block;
  animation: zoom-out 125ms ease-in;
}

.portrait img {
  display: inline;
  margin: 0 auto;
  min-width: 100%;
}

.index footer {
  font-size: 0.6em;
  font-weight: 200;
  color: #ccc;
  margin: 4em 0;
  animation: fade-in 2500ms ease-out;
}

::selection {
  background: #D10045;
  color: #fff;
}

@media screen and (min-device-height: 480px) and (orientation: portrait),
screen and (min-device-height: 560px) and (orientation: landscape) {
  
  .index {
    margin-top: 4em;
  }
  
  .index h1 {
    line-height: 2;
  }
  .portrait {
    width: 192px;
    height: 192px;
  }
  .portrait > img {
    width: 192px;
    height: 192px;
  }
}